.App {

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#sidebar-wrapper {
    transition: margin-left .25s ease-out;
}

#sidebar-wrapper.close {
    margin-left: -100px;
}

.app-nav{
    border-bottom: 2px solid gray;
    padding: 0 0 0 0;
}
